<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<%- include('../includes/navigation.ejs') %>
<main>
    <h1>Admin products page</h1>
</main>
<%- include('../includes/end.ejs') %>