.form-product{
    width: 20rem;
    max-width: 90%;
    margin: auto;
}
.form-control{
    margin: 1rem 0;
}
.form-control label,
.form-control input,
.form-control textarea{
    display: block;
    width: 100%;
}
.form-control textarea{
    resize: none;
}
.form-control input,
.form-control textarea{
    border: 1px solid #f304bf;
    font: inherit;
    border-radius: 2px;
}
.form-control input:focus,
.form-control textarea:focus{
    outline-color: crimson;
}
button{
    font: inherit;
    border: 1px solid #f304bf;
    color: #f304bf;
    background: whitesmoke;
    border-radius: 3px;
    cursor: pointer;
}
button:hover,
button:active{
    background: #f304bf;
    color: whitesmoke;
}